<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      body {
        padding: 50px;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error {
          color: red
      }
      .success {
          color: green;
      }
    </style>
  </head>
  <body>
   <%= message %>
   <br/>
   Click to <a href='/sec/dash'>Dashboard</a>
   <br/>
   Click to <a href='/sec/logout'>logout</a>
  </body>
</html>
