
<% var title = 'Authentication Example' %>
<% include head %>

<h1>Login</h1>
<%- message %>
<h2>Restricted</h2>
<form method="post" action="/sec/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>

<% include foot %>
